  <h2>Segment Docs</h2>
  <p>Great docs lead to a great customer experience. Plus, it let’s us proactively support customers and minimize tickets by adding content around common questions and issues.
  </p>
  <h3>“Write for the reader; don’t write for your ego. Simpler is better”
  </h3>

<!--   <p>KISS - Keep it simple and stupid</p>
    <ul>
      <li>write short sentences</li>
      <li>use simple grammar</li>
      <li>use simple words</li>
 -->

  <p>Always start with the main point.</p>
     Readers remember better what comes at the beginning and assume its more important
     Easier to skim and find in the beginning

  <p>Talk to the reader</p>
- increases attention and avoids ambiguity (“You can…”)

- give commands

- when giving recommendations, we is okay -often still better to use you

Be Parallel

- Don’t mix full sentences with sentence fragments in lists

- Begin all steps with a VERB

- Use ACTIVE VOICE

- Use PRESENT TENSE (like talking over someone’s shoulder)

- Please, don’t say “Please"
</p>
