<!DOCTYPE html>
<html>
<head>
  <title>Segdocs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="pure-u-3-4">
    <ul><b>Technical Documentation</b>
      <li><a href="guides#index">Library Sources</a></li>
      <li><a href="guides#edit">Integrations</a></li>
      <li><a href="guides#new">Warehouses</a></li>
      <li><a href="guides#show">Cloud App Sources</a></li>
    <b>Support Articles</b>
      <li><a href="#home">Overall Structure</a></li>
      <li><a href="#titles">Titles</a></li>
      <li><a href="#contact">Headings</a></li>
      <li><a href="#about">Paragraphs</a></li>
      <li><a href="#about">Sentences</a></li>
      <li><a href="#about">Word Choice</a></li>
    </ul>
  </nav>
  <div class="index pure-u-3-4">
<%= yield %>
  </div>
</body>
</html>
