<!DOCTYPE html>
<html>
<head>
  <title>Segdocs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="pure-u-3-4">
    <ul><b>Introduction</b>
      <li><a href="guides#voice-and-tone">Voice and Tone</a></li>
      <li><a href="guides#grammar-and-style">Grammar and Style</a></li>
      <li><a href="guides#diction">Diction</a></li>
    <b>Content Types</b>
      <li><a href="#home">Blog</a></li>
      <li><a href="#titles">Social Media</a></li>
      <li><a href="#contact">Copy</a></li>
      <li><a href="#contact">Docs</a></li>
      <li><a href="#about">Emails</a></li>
      <li><a href="#about">Errors, Alerts and Notifications</a></li>
      <li><a href="#about">Event Description</a></li>
      <li><a href="#about">Enterprise Sales Collateral</a></li>
    </ul>
  </nav>
  <div class="index pure-u-3-4">
<%= yield %>
  </div>
</body>
</html>
